.userform{
    
    padding: 5%;
    /* padding-top: 20px; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.userform h1{
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 0, 0, .45) !important;
    padding-bottom: 5px;;
}
.btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* width: 200px; */
    height: 50px;
    border-radius: 2px;
    border: 1px solid #ede7f6;
    padding: 10px;
    align-items: center;
}
.items p{
    margin: 0px;
    font-size: 18px;
   font-weight: 600;
}
.items button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    align-items: center;
    font-size: 15px;
    outline: none;
}

th{
    font-size: 15px;
    font-weight: 600;
}